<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demofactory.syscontrol.dao.UserBookDao">
    <select id="selectBookIdByUserId" resultType="java.lang.Long">
        select book_id from user_book where user_id = #{userId}
    </select>
</mapper>